<header>
    <link rel="stylesheet" type="text/css" href="css/estilo.css" />
    <nav>
        <div class="container">
            <a href="/index.htm">Home</a>
            <a href="/about.htm">About</a>
        </div>
    </nav>
</header>